.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navclass{
  background-color: greenyellow;
}



/* table */
.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
} 

 table {
  border-collapse: collapse;
  width: 50%;
  border: 2px solid black;
  margin-left: 10rem;
  margin-top: 10px;
}

th,
td {
   border: 1px solid #ffffff;
  text-align: center;
  padding: 8px;
  font-size: 32px; 
  width: 100%;
 } 

 th {
  background-color: rgb(118, 241, 93);
  width: 100%;
 }


td {
  background-color: rgb(135, 228, 176);
  width: 100%;
}


 tbody{
  width: auto;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
}

 form * {
  font-size: 28px;
}  

#search{
  background-color: lightblue;
  font-size: 30px;
  margin-left: 10rem;
  margin-top: 50px;
}
#select{
  margin-left: 10rem;
  font-size: 2rem;
  margin-top: 20px;
}
#delet{
  padding: 5px;
  background-color: red;
  font-size: large;
  font-weight: bold;
}

#note{

  font-size: medium;
  font-weight: bold;
  margin-left: 10rem;



}